html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 20px;
    height: 50px;
    color: coral;

}

body{
	padding: 100px 0;
	background: #c9dbe9;
	background: -webkit-linear-gradient(top, #f25c54 0%, #f4845f 100%);
	background: -linear-gradient(top, #f25c54 0%, #f4845f 100%);
	background: -moz-linear-gradient(top, #f25c54 0%, #f4845f 100%);
}
nav{

    width:100%;
    background: #f25c54b4;
    overflow: hidden;
    position: fixed;
    top:0px;
    left: 0px;
    height: 55px;
}
ul{
    
    padding: 0;
    margin: 0;
    list-style: none;

}
li{
    
    float: left;
    font-family: Arial, Helvetica, sans-serif;

}
a{
    
    padding: 20px;
    width: 100px;
    display: block;
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
}
#objectContainer {
    position: relative;
    top: 10%;
    left: 20%;
    background-color: white;
    width: 55%;
    height: 80%;
    border-radius: 25px;
}
h1{
    position: relative;
    left: 40%;
    font-family: Arial, Helvetica, sans-serif;

}
#title_text {
    position: relative;
    left: 35%;
    outline: none;
    border: none;
    width: 200px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-bottom: 2px solid black;
    margin-bottom: 100px;
}
#myImg{
    position: relative;
    left: 25%;
    top: -17%;
    border: 2px solid black;

}
#photo{
    position: relative;
    left: 25%;
    top: 38%;
    outline: none;
    color: transparent;
}
#next {
    position: fixed;
    top: 76%;
    left: 68%;
    color: white;
    background-color: #ff443a;
    border: none;
    border-radius: 20px;
    width: 80px;
    height: 40px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    outline: none;
}
#back {
    position: fixed;
    top: 76%;
    left: 21%;
    color: white;
    background-color: #ff443a;
    border: none;
    border-radius: 20px;
    width: 90px;
    height: 40px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    outline: none;
}
#price_float{
    position: relative;
    left: 35%;
    outline: none;
    border: none;
    width: 200px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-bottom: 2px solid black;
    margin-bottom: 50px;

}
#shipping_float{
    position: relative;
    left: 35%;
    outline: none;
    border: none;
    width: 230px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-bottom: 2px solid black;
    margin-bottom: 50px;
}
#tax_float{
    position: relative;
    left: 35%;
    outline: none;
    border: none;
    width: 200px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-bottom: 2px solid black;
    margin-bottom: 50px;
}
#paypalemail{
    position: relative;
    left: 35%;
    outline: none;
    border: none;
    width: 280px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-bottom: 2px solid black;
    margin-bottom: 50px;
}
#curr_container {
    width: 180px;
    height: 40px;
    border: 2px solid #ff443a;
    background-color: rgb(255, 255, 255);
    border-radius: 50px 50px 50px 50px;
    position: relative;
    left: 35%;
}
#curr {
    position: relative;
    left: 8px;
    border: none;
    font-size: 19px;
    top: -7px;
    background-color: transparent;
    outline: none;
}
#curr_text{
    position: relative;
    left: 0px;
    top: -9px;
    border: 5px solid #ff443a;
    padding: 5px;
    background-color: #ff443a;
    border-radius: 51px;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#tut_img{
    position: fixed;
    left: 55%;
    top: 30%;
}
#tut_pay{
    position: fixed;
    left: 55%;
    top: 30%;
}


