html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 20px;
    height: 50px;
    color: coral;

}

body{
	padding: 100px 0;
	background: #c9dbe9;
	background: -webkit-linear-gradient(top, #f25c54 0%, #f4845f 100%);
	background: -linear-gradient(top, #f25c54 0%, #f4845f 100%);
	background: -moz-linear-gradient(top, #f25c54 0%, #f4845f 100%);
}
nav{

    width:100%;
    background: #f25c54b4;
    overflow: hidden;
    position: fixed;
    top:0px;
    left: 0px;
    height: 55px;
}
ul{
    
    padding: 0;
    margin: 0;
    list-style: none;

}
li{
    
    float: left;
    font-family: Arial, Helvetica, sans-serif;

}
a{
    
    padding: 20px;
    width: 100px;
    display: block;
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
}
#from-container{
    position: absolute;
    margin-top: -0.5%;
    margin-left: 45%;
    margin-right: 25%;
    margin-bottom: 25%;
    border: rgba(235, 81, 81, 0.829) solid 20px;
    border-radius: 10px 10px 10px 10px;
    background-color: #f4845f;
    padding: 50px;
    width: 200px;
    height: 200px;
}
#link1{
    position: relative;
    top: 10px;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block
}
#blimp{
    position: absolute;
    top: 60px;
    left: 35%;
}
#password{
    position: relative;
    top: 10px;
    right: 0px;
    outline: none;
    width: 200px;
    height: 25px;
    font-size: 23px;
    border: none;
    border-bottom: 3px solid black;
    background-color: #f4845f;
}
#email{
    outline: none;
    width: 200px;
    height: 25px;
    font-size: 23px;
    border: none;
    border-bottom: 3px solid black;
    background-color: #f4845f;

}
#signUp{
    position: relative;
    top: 20px;
    left: -5px;
    background-color: black;
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 15px 15px 15px 15px;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#signuptxt{
    position: relative;
    top: -30px;
    left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
#section26{
    position: relative;
    top: 1000px;
    width: 100%;
    height: 900px;
}
#account-info{
    position: relative;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;

}

#cart{
    position: relative;
    top: 2px;
    right: 20px;
    height: 10px;
    width: 90px;
    border-radius: 50px 50px 50px 50px;
    background-color: coral;

}
.form-style{
    position: relative;
    top: 80%;
    left: 37%;


}
.widget{
    position: relative;
    top: 50px;
    left: 30%;
    margin-top: 200px;
    width: 30%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 25px 25px 25px 25px;
}
.imgg {
    position: relative;
    top: 100px;
    left: 110px;
    height: 320px;
    width: 320px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    /*box-shadow: 10px 10px 20px #262626;*/
}
.titles{
    position: relative;
    top: -320px;
    left: 5px;
    font-size: 14px;
    font-weight: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
#store-name {
    position: relative;
    top: 370px;
    left: 10px;
    font-size: small;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.colors {
    position: relative;
    left: 140px;
    top: 71px;
    width: auto;
    height: 47px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 50px 50px 50px 50px;
    border: none;
    color: #ffffff;
    text-align: center;
    padding-bottom: 4px;
    padding-left: 4px;
    outline: none;
    background-color:  #ff443a;
    display: none;
}
#ns_btn{
    position: relative;
    top: 80px;
    left: 140px;
    width: 250px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    color: white;
    background-color: #ff443a;
    border: none;
    border-radius: 30px 30px 30px 30px;

}
.img2{
    width: 100px;
    height: 100px;
}
.prices{
    position: relative;
    left: 220px;
    top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
.createPost {
    position: fixed;
    top: 10px;
    left: 82%;
    background-color: #ff7f50;
    border-radius: 50px;
    width: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    z-index: 10;
    color: white;
    padding: 16;
}
#loginInButton{
    position: fixed;
    top: 10px;
    left: 90%;
    width: 60px;
    height: 10px;
    border-radius: 50px;
    background-color: coral;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#profileButton {
    position: fixed;
    top: 10px;
    left: 90%;
    width: 60px;
    height: 15px;
    border-radius: 50px;
    background-color: coral;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#profileContainer {
    position: fixed;
    top: 70px;
    left: 79%;
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 25px;
}
#profileH1{
    position: relative;
    left: 35%;
    top: -23px;
    font-family: Arial, Helvetica, sans-serif;
}
#profileTxt {
    position: relative;
    left: 5%;
    top: -30px;
    font-family: Arial, Helvetica, sans-serif;
}
#profileTxt2 {
    position: relative;
    left: 5%;
    top: -30px;
    font-family: Arial, Helvetica, sans-serif;
}
#redButtonX {
    position: relative;
    top: -170;
    left: 260px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 15px;
    color: white;
    background-color: red;
    outline: none;
    border: none;
}
#redButtonX:hover{
    background-color: rgb(216, 0, 0);
    color: rgb(226, 226, 226);
    cursor: pointer;
}
#profileButton:hover{
    background-color: rgb(255, 97, 40);
    color: rgb(226, 226, 226);
    cursor: pointer;
}
.createContainer{
    position: fixed;
    top: 35%;
    left: 45%;
    background-color: white;
    width: 400px;
    height: 600px;
    border-radius: 25px;
}

